.light {
  --md-sys-color-primary: rgb(144 74 64);
  --md-sys-color-surface-tint: rgb(144 74 64);
  --md-sys-color-on-primary: rgb(255 255 255);
  --md-sys-color-primary-container: rgb(255 218 212);
  --md-sys-color-on-primary-container: rgb(59 9 5);
  --md-sys-color-secondary: rgb(143 76 51);
  --md-sys-color-on-secondary: rgb(255 255 255);
  --md-sys-color-secondary-container: rgb(255 219 207);
  --md-sys-color-on-secondary-container: rgb(56 13 0);
  --md-sys-color-tertiary: rgb(112 92 46);
  --md-sys-color-on-tertiary: rgb(255 255 255);
  --md-sys-color-tertiary-container: rgb(251 223 166);
  --md-sys-color-on-tertiary-container: rgb(37 26 0);
  --md-sys-color-error: rgb(186 26 26);
  --md-sys-color-on-error: rgb(255 255 255);
  --md-sys-color-error-container: rgb(255 218 214);
  --md-sys-color-on-error-container: rgb(65 0 2);
  --md-sys-color-background: rgb(255 248 246);
  --md-sys-color-on-background: rgb(35 25 24);
  --md-sys-color-surface: rgb(255 248 247);
  --md-sys-color-on-surface: rgb(34 25 26);
  --md-sys-color-surface-variant: rgb(245 221 217);
  --md-sys-color-on-surface-variant: rgb(83 67 64);
  --md-sys-color-outline: rgb(133 115 111);
  --md-sys-color-outline-variant: rgb(216 194 189);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(56 46 46);
  --md-sys-color-inverse-on-surface: rgb(255 237 236);
  --md-sys-color-inverse-primary: rgb(255 180 168);
  --md-sys-color-primary-fixed: rgb(255 218 212);
  --md-sys-color-on-primary-fixed: rgb(59 9 5);
  --md-sys-color-primary-fixed-dim: rgb(255 180 168);
  --md-sys-color-on-primary-fixed-variant: rgb(115 52 43);
  --md-sys-color-secondary-fixed: rgb(255 219 207);
  --md-sys-color-on-secondary-fixed: rgb(56 13 0);
  --md-sys-color-secondary-fixed-dim: rgb(255 181 154);
  --md-sys-color-on-secondary-fixed-variant: rgb(113 54 30);
  --md-sys-color-tertiary-fixed: rgb(251 223 166);
  --md-sys-color-on-tertiary-fixed: rgb(37 26 0);
  --md-sys-color-tertiary-fixed-dim: rgb(222 195 140);
  --md-sys-color-on-tertiary-fixed-variant: rgb(86 68 25);
  --md-sys-color-surface-dim: rgb(231 214 214);
  --md-sys-color-surface-bright: rgb(255 248 247);
  --md-sys-color-surface-container-lowest: rgb(255 255 255);
  --md-sys-color-surface-container-low: rgb(255 240 240);
  --md-sys-color-surface-container: rgb(252 234 234);
  --md-sys-color-surface-container-high: rgb(246 228 228);
  --md-sys-color-surface-container-highest: rgb(240 222 222);
}
